--extra-index-url https://download.pytorch.org/whl/cu126
albucore==0.0.23
albumentations==2.0.5
boxmot==11.0.9
fastapi==0.115.11
ffmpy==0.5.0
gradio==5.20.1
numpy==1.26.4
opencv-python==4.11.0.86
opencv-python-headless==4.10.0.84
pandas==2.2.3
pybase64==1.4.1
pillow==11.1.0
scikit-learn==1.6.1
scipy==1.15.2
supervision==0.25.1
tensorboard==2.19.0
torch==2.2.2
torchvision==0.17.2
ultralytics==8.3.88
yolov5==7.0.13
